<div class="nav">
    <div>
        <a href=""><i class="fi fi-sr-circle-user"></i></a>
    </div>
    <div class="routes">
        <% if (activeBtn == 1) { %>
            <a class="active" href=""><i class="fi fi-sr-home"></i></a>
        <% } else { %>
            <a href=""><i class="fi fi-sr-home"></i></a>
        <% } %>
        <a href=""><i class="fi fi-sr-calendar"></i></a>
    </div>
    <div>
        <a href=""><i class="fi fi-sr-settings"></i></a>
    </div>
</div>