<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="/stylesheets/partials/nav.css">

	<title>Document</title>
</head>
<body>
	<div class="box">
		<%- include('./partials/nav.ejs',{activeBtn: 1}) %>
		<div class="content">
			<div>
				<div class="user">
					¡Hola Jorge Garcia Rodriguez!
				</div>
				<div class="history">
					<span class="title">Historial:</span>
				</div>
			</div>
			<div class="meeting">
				<span class="title">Proxima cita:</span>
			</div>
		</div>
	</div>
</body>
</html>
