@import url('./global.css');

div{
    display: flex;
}
.box{
    width: 100%;
    height: 100vh;
}
.content{
    margin: 16px 16px 16px 0;
    gap: 16px;
    flex: 1;
}
.content > div{
    width: 50%;
}
.content > div:first-child{
    flex-direction: column;
    gap: 16px;
}
.content .user{
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--light);
}
.content div:first-child > div,
.content div:last-child{
    background-color: var(--black2);
    border-radius: 4px;
    padding: 16px;
}
.content .title{
    font-size: 22px;
    font-weight: 600;
    background-color: var(--light3);
    color: var(--black);
    width: fit-content;
    padding: 0 8px;
    border-radius: 4px;
}
.content .history,
.content .meeting{
    flex-direction: column;
    flex: 1;
}

.meeting .new{
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.meeting .new div{
    flex-direction: column;
    text-align: center;
}
.meeting .new div p{
    color: var(--light3);
    margin: 0;
}