<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/login.css">

    <title>Iniciar sesion</title>
</head>
<body>
    <div class="box">
        <div>
            Iniciar sesión
        </div>
        <form action="">
            <div class="textLight" >
                <input type="text" name="email" id="email" required>
                <label for="email">Correo electronico</label>
            </div>
            <div class="textLight" >
                <input type="password" name="email" id="email" required>
                <label for="email">Contraseña</label>
                <a class="aBlack" title="¿Has olvidado la contraseña?" href=""><i class="fi fi-br-question"></i></a>
            </div>
            <div>
                <a class="aBlack" href="">Crear cuenta</a>
                <input class="btnPrimary" type="submit" value="Entrar">
            </div>
        </form>
    </div>
</body>
</html>