<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/patient/validate.css">

    <title>Verificar correo</title>
</head>
<body>
    <div class="box">
        <div>
            <h1>¡Hola <%= name %> <%= lastname %>!</h1>
        </div>
        <div>
            <p>Te hemos enviado un correo a <b><%= email %></b></p>
            <p>Porfavor añade el codigo que te enviamos:</p>
        </div>
        <form action="" method="post">
            <div class="textBlack">
                <input type="text" name="code" id="code" required>
                <label for="code">Codigo</label>
            </div>
            <div>
                <input class="btnPrimary" type="submit" value="Verificar">
            </div>
        </form>
    </div>
</body>
</html>